<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>App Installer</name>
    <version>100</version>
    <defaultcat>File Management</defaultcat>
    <desc>Easily install web applications, like WordPress and Joomla, into your webspace.</desc>
    <authorname>Jacob Gelling</authorname>
    <authoremail>jacobgelling@hawkservers.com</authoremail>
    <authorurl>http://hawkservers.com/</authorurl>
    <updateurl>http://repo.hawkservers.com/app_installer.xml</updateurl>
</module>